.pp {
  max-width: 300px;
}

.headline {
  text-align: center;
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  min-height: 400px;
}

h1 small {
  color: #fff;
  font-size: 50%;
}

section {
  font-size: 16px;
}

h2 {
  font-weight: bold;
}

.container.page {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
@media screen and (min-width:996px) {
  .headline {
    text-align: right;
  }
  .container.page {
    width: 70%;
  }
}
