* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Slabo';
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 5px;
  background: white;
  border-bottom: 1px solid black;
}

nav li {
  display: inline;
  margin: 20px 30px 0 0;
  text-align: center;
  position: relative;
  top:10px;
}

body {
  background-image: url(img/sample-pattern.png);
}

h1 {
  text-align: center;
  padding: 100px 0 50 0;
  font-size: 3em;
  color: #020e51;
  font-weight: 500;
}

#article-list {
  margin: 0 auto 50px auto;
  font-size: 15px;
  width: 800px;
  background: white;
}

article {
  border-bottom: 1px solid lightgrey;
  padding: 10px 20px 30px 20px;
}

article:last-of-type {
  padding-bottom: 30px;
}

h3 {
  font-size: 18px;
  padding: 20px 0;
  font-weight: 400;
  color: #0c89db;
}


footer {
  border-top: 1px solid black;
  padding: 20px;
  margin: 0 auto;
  background: black;
  color: #fff;
  text-align: center;
}
