* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Slabo', sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 5px;
  background: white;
  border-bottom: 1px solid black;
}

nav li {
  display: inline;
  margin: 20px 30px 0 0;
  text-align: center;
  position: relative;
  top:10px;
}

body {
  background-image: url(img/sample-pattern.png);
}

h1 {
  text-align: center;
  padding: 100px 0 50 0;
  font-size: 2em;
  color: #020e51;
}

#article-list {
  margin: 0 auto 50px auto;
  width: 600px;
  background: white;
  padding: 0 20px 10px 20px;
  border: 1px solid white;
}

article {
  border-bottom: 1px solid grey;
  margin: 10px 0 20px 0;
  radius: 2px;
}

article:last-of-type {
  border-bottom: 0;
}

h3 {
  padding: 20px 0;
  font-weight: 300;
  color: #0c89db;
}


footer {
  border-top: 1px solid black;
  padding: 20px;
  margin: 0 auto;
  background: black;
  color: #fff;
  text-align: center;
}
